body {
    margin: 0px;
    background-color: rgb(255, 240, 189);
    font-family: "Cabin";
}

header {
    background-color: black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header p {
    color: rgb(255, 162, 22);
    font-size: 18px;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium';
}

header #logotipo {
    width: 10em;
    margin: 0px;
}

#info {
    background-color: black;
    padding: 20px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info p {
    margin: 0px;
    padding: 10px;
}